.navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: transparent; 
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  background: linear-gradient(180deg, #100A0C 0%, #555A28 100%);
  height: 80px;
  top: 0;
  z-index: 1000;
}


.logo{
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.logo img{
    height: auto;
}

.brand-name{
    margin: 0;
    font-family: 'Cinzel' , serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.7rem;
    letter-spacing: 0%;
    text-align: center;
    color: #FEF7E8;
    
}

/* Search bar styling */
.search-container {
  display: flex;
  align-items: center;
  background: #615D21;
  border-radius: 28px;
  padding-left: 1.8em;
  height: 42px;
  width: 25vw;
  margin-right: -3em;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.5em;
}


#search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
}



#search-input::placeholder{
    color: #ffffff;
}


/* Navbar links styling */

.nav-links{
    display:flex;
    align-items: center;
}

.nav-items{
    display: flex;              
    gap: 5em;                 
    list-style: none;
    margin:0 auto;
    padding: 2em;
    margin-top: 0.9em;
}


.nav-items li a{
    text-decoration: none;
    font-family: 'Inter';
    font-weight:100;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    
}

.nav-items #login{
    font-weight: 700;
}



.nav-items #cart-icon{
    border-width: 2px;
    /* margin-left: 1em; */
    /* margin-right: -0.8em; */

}

#heart-icon img {
  margin-top: 0.11em;
  /* vertical-align: middle; */
}


/* Hamburger lines styling */

.navbar-container .navbar .hori-lines{
    width: 40px;
    height: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 0.6em;
}

.navbar-container .navbar .hori-lines .line{
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 10px;
    transition: transform 0.1s ;
    margin-left: -1em;
}

