*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    font-size: 10px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}


.container{
    /* width:1536px;    */
    margin: auto;
}

